@font-face {
    font-family: 'steph';
    src: url('assets/steph-font.ttf') format('truetype');
}

body {
    background-color: #ffd6ff;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-family: 'steph', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main-img {
    width: 100%;
    max-width: 320px;
    height: auto;
}

h1 {
    color: #9d4edd;
    margin: 0;
    font-size: 50px;
}
h2 {
    margin: 0;
    font-size: 35px;
}
a {
    margin: 0;
    font-size: 30px;
}
h3 {
    margin: 0;
    font-size: 25px;
}

.btn-container {
    margin-top: 20px;

    display: flex;
    gap: 20px;
    justify-content: center;
    
}

button {
    color: white;
    border: none;
    padding: 12px 28px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 8px;
    font-family: 'steph', sans-serif;
}

#yes-btn {
    background-color: #00c853;
}

#no-btn {
    background-color: #d50000;
}

#yoshi {
    position: fixed;
    left: -200px;
    width: 160px;
    max-width: 40vw;
    height: auto;

    pointer-events: none;
    display: none;

    transition: left 1s linear;
    z-index: 999;
}

.github-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    opacity: 0.7;
    transition: opacity 0.3s;
    z-index: 1000;
}

.github-btn:hover {
    opacity: 1;
}

.github-btn img {
    width: 100%;
    height: 100%;
}